// Global Styles

body {
    font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: @bold;
    &:focus {
        outline: none;
    }
}

p {
    font-size: 16px;
    line-height: 25px;
    font-weight: @regular;
}

.bold_type {
    font-weight: bold;
}

@regular: 400;
@semi: 600;
@bold: 700;

// Breakponts
@large: 1200px;
@mid: 960px;
@small: 768px;
@xsmall: 640px;
@phone: 540px;
@smallphone: 420px;

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

.sidebar-primary {
    display: none;
}

// Header Styles

.site-header {
    @media(min-width: @mid) {
        display: none;
    }
    @media(max-width: @small) {
        display: none;
    }
}

.site-inner {
    max-width: 100%;
    padding: 4rem 4rem 0;
    margin-top: 70px;

    @media(max-width: @large) {
        padding: 60px 30px 0;
    }
    @media(max-width: @mid) {
        padding: 0 30px;
    }
}

.menu_container {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #000;
    
    @media(max-width: @mid) {
        bottom: 0;
        z-index: 400;
        display: flex;
        flex-wrap: wrap;
        // border-top: 1px solid #fff;
    }

    .top_menu_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 4rem;
        position: relative;
        z-index: 2;
        background: #000;
        @media(max-width: @large) {
            padding: 1rem 2rem;
            order: 2;
        }
        @media(max-width: @smallphone) {
            padding: 1rem;
        }
        &:before {
            content: '';
            position: absolute;
            background: #fff;
            width: calc(100% + 30rem);
            height: 1px;
            left: 50%;
            top: -2px;
            transform: translateX(-50%);
        }
         
        .custom-logo-link {
            @media(max-width: @mid) {
                display: none;
            }
        }
    }

    .bottom_menu_container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 100%;
        margin: 0 auto;
        background: #000;
        padding: 2rem 4rem 4rem;
        position: relative;
        display: none;
        top: 100%;
        width: 100%;
        height: 100vh;
        border-top: 2px solid #fff;
        opacity: 0;

        @media(max-width: @large) {
            padding: 2rem;
        }
        @media(max-width: @mid) {
            align-items: flex-end;
            display: block;
            align-items: self-end;
            height: 0;
            transition: all 0.25s ease-in-out;  
            order: 1;
            padding: 0;
            z-index: 1;
        }

        &.active {
            display: flex;
            height: 100vh;
            opacity: 1;
            padding: 60px 30px;
            overflow: scroll; 
            @media(max-width: @mid) {
                padding: 25% 0 0;
            }
        }

        &:after {
            content: "";
            width: 2px;
            height: 100%;
            bottom: 0;
            left: 50%;
            position: absolute;
            background: #fff;
            @media(max-width: @mid) {
                display: none;
            }
        }
        ul {
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        ul,
        .info_box {
            flex-basis: 50%;
            position: relative;
            @media(max-width: @mid) {
                flex-basis: 100%;
                padding: 30px 0 30px 40px!important;
                // min-height: 33%;
            }
            
        }
        .hidden_mobile_menu {
            display: none;
            order: 1;
            @media(max-width: @mid) {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-direction: column;
                min-height: 35%;

            }
            &:after {
                @media(max-width: @mid) {
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 50%;
                position: absolute;
                background: #fff;
                transform: translateX(-50%);
                }
            }
            li {
                display: block;
                @media(max-width: @mid) {
                    flex-basis: 100%;
                }
                a {
                    color: #fff;
                }
            }
        }
        .program_menu {
            @media(max-width: @mid) {
                height: 40%;
                // overflow: scroll;
            }
            ul {
                padding-top: 0;
            }
        }
        .program_menu {
            padding-left: 90px;
            width: 50%;
            @media(max-width: @mid) {
                order: 3;
                padding-left: 0;
                width: 100%;
            }

            li {
                margin-bottom: 20px;
                display: none;
                @media(max-width: @mid) {
                    margin-bottom: 0;
                }
                &.visible {
                    display: block;
                }

                a {
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 4px;
                    color: #fff;
                    font-weight: 400;
                    // @media(max-width: @mid) {
                    //     font-size: 12px;
                    // }
                }
            }
        }

        .info_box {
            padding-left: 80px;
            color: #fff;
            @media(max-width: @mid) {
                order: 2;
                padding-left: 0;
            }
            &:after {
                @media(max-width: @mid) {
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 50%;
                position: absolute;
                background: #fff;
                transform: translateX(-50%);
                }
            }
            p {
                margin: 0;
                // @media(max-width: @mid) {
                //     font-size: 12px;
                // }
            }
            .info_box_section {
                margin-bottom: 28px;
                &:last-child {
                    margin-bottom: 0;
                }
                @media(max-width: @mid) {
                    margin-bottom: 18px;
                }
            }
        }
    }
}

.primary_menu {
    display: flex;
    order: 2;
    flex-basis: 70%;
    margin-right: auto;

    @media(max-width: @smallphone) {
        flex-basis: 50%;
    }

    li {
        margin-right: 3rem;
        @media(max-width: @large) {
            margin-right: 2rem;
        }
        @media(max-width: @smallphone) {
            margin-right: 1rem;
        }
        &.nav_item_art_memo,
            &.nav_item_donate {
                @media(max-width: @mid) {
                    display: none;
                }
            }
        .sub-menu {
            display: none;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.375rem;
            letter-spacing: 0.25rem;
            text-align: center;
            @media(max-width: @mid) {
                font-size: 0.8825rem;
            }
            @media(max-width: @smallphone) {
                font-size: 0.70rem;
            }
        }
    }
}

.menu_close_btn {
    position: relative;
    width: 90px;
    height: 40px;
    cursor: pointer;
    order: 1;
    @media(max-width: @mid) {
        width: 60px;
    }
    @media(max-width: @smallphone) {
        width: 25px;
    }
    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #fff;
        top: 4px;
        @media(max-width: @smallphone) {
            left: 0;
            content: ' ';
            height: 17px;
            width: 2px;
            top: 12px;
        }
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &.closed {
        &:before {
            transform: rotate(90deg);
        }

        &:after {
            display: none;
        }
    }
}

.mobile_logo {
    order: 8;
    display: none;
    max-width: 40px;
    @media(max-width: @mid) {
        display: block;
        flex-basis: 10%;
    }
    img {
        width: 100%;
    }
}

.custom-logo-link {
    order: 3;
    aspect-ratio: auto !important;

    @media(max-width: @mid) {
        flex-basis: 100%;
        order: 1;
        text-align: center;
        aspect-ratio: auto;
        margin-bottom: 10px;
    }

    img {
        max-width: 150px;
    }
}

.mega_menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    background: #000;
    padding: 1rem 3rem;

}

.custom-logo-link {
    order: 3;

    @media(max-width: @mid) {
        flex-basis: 100%;
        order: 1;
        text-align: center;
        aspect-ratio: auto;
        margin-bottom: 10px;
    }

    img {
        max-width: 150px;
    }
}

.site-header {
    @media(max-width: @mid) {
        padding: 0;
        display: none;
    }

    .custom-menu-class {
        display: flex;
        flex-wrap: wrap;
        order: 2;
        margin-right: auto;

        @media(max-width: @mid) {
            flex-basis: 100%;
            order: 2;
            margin-right: 0;
            justify-content: center;
            display: none;
        }

        .menu {
            display: flex;

            li {
                margin-right: 2rem;

                .sub-menu {
                    display: none;
                }

                a {
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.375rem;
                    letter-spacing: 0.25rem;
                    text-align: center;
                }
            }
        }
    }

    .custom-logo-link {
        order: 3;

        @media(max-width: @mid) {
            flex-basis: 100%;
            order: 1;
            text-align: center;
            aspect-ratio: auto;
            margin-bottom: 10px;
        }

        img {
            max-width: 150px;
        }
    }

    >.wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        background: #000;
        padding: 1rem 3rem;

        .title-area {
            @media(min-width: @mid) {
                display: none;
            }

            float: none;
            max-width: inherit;
        }

        .menu-toggle {
            color: #fff;
            outline: none;

            @media(max-width: @mid) {
                order: 3;
            }
        }

        .genesis-responsive-menu {
            order: 4;
            display: none;

            ul {
                li {
                    a {
                        color: #fff;
                    }
                }
            }

            .sub-menu {
                li {
                    a {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// Content Grid



.grid_summary {
    font-size: 16px;
    line-height: 25px;
    font-weight: @semi;
    margin-top: 20px;
}

.learn_more_btn {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: @bold;
    border: 3px solid #000;
    padding: 15px 20px;
    letter-spacing: 4px;
    margin-top: 40px;
    display: table;
}

.grid_container {
    margin-bottom: 50px;
    margin: 0 auto 50px;
    padding: 0;

    @media(max-width: @large) {
        padding: 0;
    }

    &.swiper {
        position: relative;

        .swiper-button-next,
        .swiper-button-prev {
            top: 0;

            &:after {
                display: none;
            }
        }
    }

    .grid_title {
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 2.5px;
        font-weight: @regular;
        position: relative;
        margin-bottom: 10px;

        .title_arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 23px;
            display: block;
            background-size: cover;
            margin-top: auto;
            outline: none;
        }
    }

    .grid_wrapper {

        // display: flex;
        // flex-wrap: wrap;
        // margin-left: -20px;
        // margin-right: -20px;
        // @media(max-width: @small) {
        //     margin-left: inherit;
        //     margin-right: inherit;
        // }
        .grid_item {

            // flex-basis: 50%;
            // padding: 1.25rem;
            // @media(max-width: @small) {
            //     flex-basis: 100%;
            //     padding: 0;
            //     margin-bottom: 60px;
            // }
            h3 {
                font-size: 30px;
                line-height: 41px;
                color: #000;
                font-weight: @semi;

                @media(max-width: @mid) {
                    font-size: 25px;
                }

                @media(max-width: @small) {
                    font-size: 30px;
                }

                span {
                    display: block;
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: lightslategray;
                }
            }

        }

        .image_container {
            width: 100%;
            padding-top: 60%;
            background-size: cover!important;
            background-position: center center;
        }
    }
}

// Art Memo Styles

.art_memo_container {
    margin: 0 auto 50px;
    padding: 0;

    @media(max-width: @large) {
        padding: 0;
    }

    .wrapper {
        background: #000;
        padding: 85px 50px;
    }
}

// artMemoSwiper

.artMemoSwiper {
    .top_nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;

        .artMemoLogo {
            max-width: 250px;
            margin-right: auto;
            color: #fff;
            font-size: 12px;
            @media(max-width: @phone) {
                margin-bottom: 20px;  
            }
            img {
                width: 100%;
            }
        }

        .nav_arrows {
            display: flex;
            align-items: center;

            img {
                width: 28px;
                height: 23px;
                margin: 0 10px;
            }
        }
    }

    .grid_item {
        color: #fff;

        a {
            color: #fff;
            font-weight: bold;
            margin-top: 40px;
        }

        h3 {
            font-size: 25px;
            line-height: 30px;
            color: #fff;
        }
    }
}

// Custom Footer

.site-footer {
    margin: 0 auto;
    background: #000;
    padding: 0;
    overflow: hidden;
    @media(max-width: @mid) {
        padding-bottom: 80px;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;

        .widget {
            margin-bottom: 0;
        }

        .column {
            padding: 2rem 4rem;

            @media(max-width: @mid) {
                padding: 30px;
            }

            @media(max-width: @mid) {
                display: none;
            }

            @media(max-width: @xsmall) {
                flex-basis: 100% !important;
            }

            &.footer_left_container {
                flex-basis: 40%;
                text-align: left;
                color: #fff;
                @media(max-width: @xsmall) {
                    order: 3;
                }

                .widget {
                    h4 {
                        font-size: 16px;
                        line-height: 22px;
                        color: #fff;
                        text-align: left;
                        text-transform: uppercase;
                        font-weight: @bold;
                        margin-bottom: 10px;
                    }
                    .textwidget {
                        margin-top: 15px;
                    }
                    .mc4wp-form {
                        .mc_footer_form {
                            display: flex;
                            flex-wrap: wrap;

                            input {
                                padding: 5px 10px;
                            }

                            input[type=email] {
                                flex-basis: 67%;
                                margin-right: auto;
                                background-color: transparent;
                                border: 2px solid #fff;

                                @media(max-width: @mid) {
                                    flex-basis: 100%;
                                    margin-bottom: 10px;
                                }
                            }

                            input[type=submit] {
                                flex-basis: 28%;
                                background-color: transparent;
                                border: 2px solid #fff;
                                border-radius: 0;
                                letter-spacing: 2.5px;
                                font-size: 14px;

                                @media(max-width: @mid) {
                                    flex-basis: 100%;
                                }
                            }
                        }

                        ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }

                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }
                    }
                }
            }

            &.footer_middle_container,
            &.footer_right_container {
                flex-basis: 30%;
            }

            &.footer_middle_container {
                position: relative;

                @media(max-width: @xsmall) {
                    order: 2;
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background: #fff;
                    width: 2px;
                    height: 1000px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                }

                .menu-footer-menu-container {
                    text-align: left;
                }

                .menu {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 20px;

                    li {
                        flex-basis: 50%;
                        margin-bottom: 0;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:nth-child(-n+2) {
                            margin-bottom: 10px;
                        }

                        @media(max-width: @mid) {
                            flex-basis: 100%;
                            margin-bottom: 10px;
                        }

                        a {
                            color: #fff;
                            text-transform: uppercase;
                            text-align: left;
                            font-weight: bold;

                            @media(max-width: @xsmall) {
                                text-align: center;
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &.footer_right_container {
                @media(max-width: @xsmall) {
                    order: 1;
                }

                .widget {
                    img {
                        max-width: 214px !important;
                        width: 60%;

                        @media(max-width: @mid) {
                            // max-width: 175px!important;
                        }
                    }

                    .menu-footer-social-container {
                        .menu {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin-top: 20px;

                            li {
                                margin-bottom: 0;

                                a {
                                    color: #000;
                                    position: relative;
                                    overflow: hidden;
                                    width: 35px;
                                    height: 30px;
                                    display: block;

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate3d(-50%, -50%, 0px);
                                        width: 25px;
                                        height: 30px;
                                    }
                                }

                                &.fb_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/facebook-wht.png") no-repeat center center;
                                            background-size: 13px;
                                        }
                                    }
                                }

                                &.yt_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/yt-wht.png") no-repeat center center;
                                            background-size: 17px;
                                        }
                                    }
                                }

                                &.ig_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/ig-wht.png") no-repeat center center;
                                            background-size: 17px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile_footer_column {
            display: none;
            flex-basis: 50%;
            text-align: left;
            padding: 30px;
            @media(max-width: @mid) {
                display: block;
            }
            &.mobile_footer_column_1 {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    background: #fff;
                    width: 1px;
                    height: 500px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .textwidget {
                    margin-top: 20px;
                    p {
                        text-align: left;
                        color: #fff;
                        font-size: 14px;
                    }
                }
                .menu {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        flex-basis: 50%;
                        margin-bottom: 0;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &:nth-child(-n+2) {
                            margin-bottom: 10px;
                        }

                        @media(max-width: @mid) {
                            flex-basis: 100%;
                            margin-bottom: 10px;
                        }

                        a {
                            color: #fff;
                            text-transform: uppercase;
                            text-align: left;
                            font-weight: bold;
                            letter-spacing: 3px;
                            @media(max-width: @xsmall) {
                                display: block;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.mobile_footer_column_2 {
                .widget {
                    .textwidget {
                        display: none;
                    }
                    img {
                        max-width: 200px;
                    }
                    .menu-footer-social-container {
                        .menu {
                            display: flex;
                            flex-wrap: wrap;
                            margin-top: 20px;
                            li {
                                margin-bottom: 0;

                                a {
                                    color: #000;
                                    position: relative;
                                    overflow: hidden;
                                    width: 35px;
                                    height: 30px;
                                    display: block;

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate3d(-50%, -50%, 0px);
                                        width: 25px;
                                        height: 30px;
                                    }
                                }

                                &.fb_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/facebook-wht.png") no-repeat center center;
                                            background-size: 13px;
                                        }
                                    }
                                }

                                &.yt_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/yt-wht.png") no-repeat center center;
                                            background-size: 17px;
                                        }
                                    }
                                }

                                &.ig_icon {
                                    a {
                                        &:after {
                                            background: url("../images/icons/ig-wht.png") no-repeat center center;
                                            background-size: 17px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .widget {
                    h4 {
                        display: none;
                    }
                    .textwidget {
                        margin-top: 15px;
                    }
                    .mc4wp-form {
                        .mc_footer_form {
                            display: flex;
                            flex-wrap: wrap;
                            margin-top: 30px;
                            input {
                                padding: 5px 10px;
                            }

                            input[type=email] {
                                flex-basis: 67%;
                                margin-right: auto;
                                background-color: transparent;
                                border: 2px solid #fff;

                                @media(max-width: @mid) {
                                    flex-basis: 100%;
                                    margin-bottom: 10px;
                                }
                            }

                            input[type=submit] {
                                flex-basis: 28%;
                                background-color: transparent;
                                border: 2px solid #fff;
                                border-radius: 0;
                                letter-spacing: 2.5px;
                                font-size: 14px;

                                @media(max-width: @mid) {
                                    flex-basis: 100%;
                                }
                            }
                        }

                        ::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }

                        :-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }

                        ::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: #fff;
                            opacity: 0.5;
                            /* Firefox */
                            font-size: 14px;
                            letter-spacing: 2.5px;
                        }
                    }
                }
            }
        }
    }
}

.footer_area_copy_container {
    @media(max-width: @small) {
        display: none;
    }
    .widget {
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 4rem;

        @media(max-width: @mid) {
            padding: 1rem 2rem;
        }

        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: @regular;
        }
    }
}

// Page Template Styes

.page-template {
    .site-inner {
        max-width: 100%;
        padding: 4rem 0 0;

        @media(max-width: @large) {
            padding: 60px 0;
        }

        @media(max-width: @mid) {
            padding: 0;
        }

        .content {
            width: 100%;
            float: none;
        }

        .sidebar {
            display: none;
        }
    }
}

.page-template-page--about,
.page-template-page--faq {
    article {
        margin-bottom: 0;
    }

    .top_content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 1rem 3rem 4rem;
        position: relative;

        &.faq {
            padding: 1rem 3rem;

            @media(max-width: @large) {
                padding: 1rem;
            }
        }

        &.underlined {
            padding: 1rem 3rem 4rem;

            @media(max-width: @large) {
                padding: 1rem 1rem 2rem;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: #979797;
            }
        }

        h1.small {
            font-size: 20px;
            line-height: 27px;
            letter-spacing: 2.5px;
            font-weight: 400;
        }

        h1 {
            font-size: 40px;
            line-height: 53px;
            font-weight: @semi;
            margin-bottom: 20px;
        }

        h2.sub_title {
            font-size: 40px;
            line-height: 53px;
            font-weight: @semi;
            margin-bottom: 40px;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .bottom_content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 1rem 3rem 3rem;

        @media(max-width: @large) {
            padding: 1rem;
        }

        &.about {
            padding: 4rem 3rem;

            @media(max-width: @large) {
                padding: 3rem 1rem;
            }
        }

        h2 {
            font-size: 25px;
            line-height: 25px;
            margin-bottom: 40px;
        }

        .bottom_content_item {
            margin-bottom: 20px;

            &.faq {
                margin-bottom: 50px;

                h3 {
                    margin-bottom: 15px;
                    font-weight: @semi;
                }
            }

            p {
                margin-bottom: 0;
            }

            .bottom_content_name {
                font-weight: @bold;
            }
        }
    }


}

.full_media_container {
    position: relative;
    overflow: hidden;

    .img_container {
        img {
            width: 100%;
        }
    }

    .video_container {
        position: relative;
        padding: 56.25% 0 0 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

// Exhibition Index Styles

.post-type-archive-exhibitions {
    .site-inner {
        width: 100%;
        padding: 0;
        margin-bottom: 50px;

        @media(max-width: @mid) {
            margin-top: 0;
        }
    }
}

.index_contaner {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 60px 0 0;

    .index_item {
        border-bottom: 3px solid #000;
        flex-basis: 100%;
        padding: 3rem 0;

        @media(min-width: @small) {
            flex-basis: 50%;

            &:nth-child(odd) {
                border-right: 3px solid #000;
            }

            &:nth-child(-n+2) {
                border-top: 3px solid #000;
            }
        }

        &:first-child {
            @media(max-width: @small) {
                border-top: 3px solid #000;
            }
        }

        &:hover {
            background: #000;

            h3,
            p {
                color: #fff;
            }

            .learn_more_btn {
                color: #fff;
                border: 3px solid #fff;

                &:hover {
                    color: #000;
                    border: 3px solid #fff;
                    background: #fff;
                }
            }
        }

        .index_item_title {
            padding-left: 4rem;

            @media(max-width: @large) {
                padding-left: 2rem;
            }

            h3 {
                font-size: 30px;
                line-height: 43px;
                font-weight: @semi;
                height: 86px;

                @media(max-width: @large) {
                    font-size: 28px;
                    line-height: 36px;
                }

                @media(max-width: @mid) {
                    font-size: 26px;
                    line-height: 34px;
                }

                @media(max-width: @small) {
                    height: auto;
                }

                span {
                    display: block;
                    font-size: 18px;
                    letter-spacing: 1px;
                    color: lightslategray;
                }
            }
        }

        .image_container {
            width: 100%;
            padding-top: 15rem;
            background-size: cover!important;
            background-position: center center;
        }

        .index_item_content {
            padding: 1rem 2rem 0 4rem;

            @media(max-width: @large) {
                padding: 1rem 2rem 0 2rem;
            }
        }
    }
}

// Single Exhibition

.single-exhibitions {
    .site-inner {
        padding: 4rem 0 0;

        @media(max-width: @large) {
            padding: 0;
        }
    }

    .content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2rem;
        float: none;

        figure {
            margin-bottom: 40px;
        }

        h1 {
            margin-bottom: 40px;

            span {
                display: block;
                font-size: 25px;
                line-height: 25px;
                margin-top: 10px;
            }
        }

        h3 {
            margin-bottom: 50px;
            letter-spacing: 3.75px;
        }
    }
}

// Single Programs

.single-programs,
.single-visits {
    .site-inner {
        padding: 4rem 0 0;

        @media(max-width: @large) {
            padding: 0;
        }
    }

    .content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 2rem;
        float: none;

        figure {
            margin-bottom: 40px;
        }

        h1 {
            margin-bottom: 40px;

            span {
                display: block;
                font-size: 25px;
                line-height: 25px;
                margin-top: 10px;
            }
        }

        h3 {
            margin-bottom: 40px;
            letter-spacing: 3.75px;
        }

        .programs {
            .bottom_content {
                margin-top: 50px;

                .session {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    border-bottom: 1px solid #979797;
                    padding-bottom: 50px;
                    margin-bottom: 50px;

                    &:last-child {
                        border: none;
                    }

                    .column {
                        flex-basis: 50%;

                        @media(max-width: @xsmall) {
                            flex-basis: 100%;
                        }

                        &.session_sign_up_link {
                            display: flex;
                            justify-content: end;

                            @media(max-width: @xsmall) {
                                justify-content: start;
                                margin-top: 30px;
                            }
                        }

                        &.session_sign_up_link {
                            a {
                                border: 3px solid #000;
                                text-align: center;
                                padding: 10px 40px;
                                text-transform: uppercase;
                                font-size: 16px;
                                letter-spacing: 1px;
                                color: #000;
                                background: #fff;

                                &:hover {
                                    color: #fff;
                                    background: #000;
                                }
                            }
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

// Grid Index Page

.page-template-page--index-grid {
    .site-inner {
        padding: 0;

        @media(max-width: @mid) {
            margin-top: 0;
        }
    }
}

// Stays

.large_page_header {
    max-width: 480px;
    margin: 0 auto;
    padding: 4rem 0;

    &.centered {
        text-align: center;
    }

    h2 {
        font-size: 40px;
    }
}

.page-template-page--stay {
    .site-inner {
        max-width: 100%;
        padding: 4rem 4rem 0;
        margin-top: 70px;

        @media(max-width: @large) {
            padding: 4rem 2rem;
        }
    }
}

.staysSwiper {
    margin-bottom: 150px;

    @media(max-width: @large) {
        margin-bottom: 75px;
    }

    .grid_title {
        margin-bottom: 50px;
    }

    .image_container {
        background-size: contain !important;
        padding-top: 30% !important;
        background-position: center left;
    }
}